#genexpert-record-content-area{
    position: relative;
    width:100%;
    height:100%;
    background:rgba(240, 124, 15, 0.144);
    backdrop-filter:blur(5px);
    display:flex;
    flex-direction: column;
    overflow: hidden !important;
}