#user-change-password-area{
    position: absolute;
    top:-100%;
    left:0;
    background:rgba(0, 0, 0, 0.767);
    width:100%;
    height:100%;
    transition:600ms all;
    z-index:9999999;
    backdrop-filter:blur(5px);
}
.email-change-password{
    height:30px;
    border-radius:5px;
    border:0.7px solid #fff;
    background:none;
    padding:5px;
    color:rgb(0, 255, 42);
    font-weight:600;
}
.email-change-password:hover,
.email-change-password:active,
.email-change-password:focus{
    outline:none;
    box-shadow: none;
    background:none;
}
.user-change-password-form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
}