<link rel="stylesheet" href="../css/contact-info.css">
<div id="contact-info-area">

    <div class="contact-info-form">

        <h3 class="text-light mb-2">Contact Information</h3>

        <div class="ci-group">
            <div class="ci-label">Fullname</div>
            <div class="ci-field"><input type="text" id="contact-info-fullname"></div>
        </div>

        <div class="ci-group">
            <div class="ci-label">Job Position</div>
            <div class="ci-field"><input type="text" id="contact-info-position"></div>
        </div>

        <div class="ci-group">
            <div class="ci-label">Contact Number</div>
            <div class="ci-field"><input type="text" id="contact-info-contact-number"></div>
        </div>

        <div class="ci-group">
            <div class="ci-label">Email</div>
            <div class="ci-field"><input type="text" id="contact-info-email"></div>
        </div>

        <a href="#" class="btn btn-success w-40 input-submit-btn" id="contact-info-submit-btn">
            <i class="fa fa-save"></i>Save</a>
        <a href="#" class="btn btn-danger w-40 input-submit-btn mr-1" 
        id="contact-info-close-btn">
        &#x2718; Close</a>


    </div>
    


</div>