<div class="frame-area" id="dashboard-frame-area">


    <div id="genexpert-dashboard-area">

        <div class="genexpert-dashboard-main-main-area">
            <div class="genexpert-dashboard-filter-area"></div>
            <div class="genexpert-dashboard-main-body-area">
                <div class="genexpert-dashboard-main-body-totals-area">
                    <div class="dashboard-totals-box">
                        <div class="dash-box-title">Total Genexpert</div>
                        <div class="dash-box-value">189,045</div>
                    </div>
                    <div class="dashboard-totals-box">
                        <div class="dash-box-title">Number of Calibration</div>
                        <div class="dash-box-value">600</div>
                    </div>
                    <div class="dashboard-totals-box">
                        <div class="dash-box-title">Number of Maintenance</div>
                        <div class="dash-box-value">540</div>
                    </div>
                    <div class="dashboard-totals-box">
                        <div class="dash-box-title">Number of Service Report</div>
                        <div class="dash-box-value">1,300</div>
                    </div>

                </div>
                <div class="genexpert-dashboard-main-body-charts-area"></div>


            </div>
        </div>



    </div>
    <!-- <div id="haemonetics-dashboard-area"></div> -->


    <!-- <canvas id="myChart" style="width:100%;max-width:600px"></canvas> -->
    <!-- <div class="d-flex w-100">

        <div class="chart-panel w-70">
            <canvas id="active-gen-monthly-a-year"></canvas>
        </div>
        <div class="chart-panel w-30"><canvas id="active-haemonetics-monthly-a-year"></canvas></div>
    </div>

    <div class="d-flex w-100">

        <div class="chart-panel w-50">
        
        </div>
        <div class="chart-panel w-50"></div>
    </div>
    -->

</div>