<link rel="stylesheet" href="../css/facility-info.css">
<div id="facility-info-area">
    <div class="facility-info-form">

        <h3 class="text-light mb-2">Facility Information</h3>

        <div class="fi-group">
            <div class="fi-label">Facility</div>
            <div class="fi-field">
                <form autocomplete="off" class="w-100">
                    <div class="autocomplete w-100">
                        <input type="text" class="site-field  w-100" 
                        id="facility-info-facility">
                    </div>
                    </form>
               </div>
        </div>
        
        <div class="fi-group">
            <div class="fi-label">Region</div>
            <div class="fi-field"><select class="region-drop-down" 
            id="facility-info-region"></select></div>
        </div>   
        
        <div class="fi-group">
            <div class="fi-label">Province</div>
            <div class="fi-field"><select class="province-drop-down" 
                id="facility-info-province"></select></div>
        </div>   

        <div class="fi-group">
            <div class="fi-label">City</div>
            <div class="fi-field"><select class="city-drop-down" 
                id="facility-info-city"></select></div>
        </div>   

        <div class="fi-group">
            <div class="fi-label">Barangay</div>
            <div class="fi-field"><select class="barangay-drop-down" 
                id="facility-info-barangay"></select></div>
        </div>  

        <div class="fi-group">
            <div class="fi-label">Street</div>
            <div class="fi-field"><input type="text" id="facility-info-street"></div>
        </div> 

        <div class="fi-group d-flex">
            <div class="fi-group w-50 mr-1">
                <div class="fi-label">Latitude</div>
                <div class="fi-field"><input type="text" id="facility-info-latitude"></div>
            </div>
            <div class="fi-group w-50">
                <div class="fi-label">Longitude</div>
                <div class="fi-field"><input type="text" id="facility-info-longitude"></div>
            </div>
           
        </div> 
        
        <!-- <a href="#" class="btn btn-success w-40 input-submit-btn mr-1" id="facility-info-save-btn">
            <i class="fa fa-save"></i>Save</a> -->
        <a href="#" class="btn btn-danger w-40 input-submit-btn mr-1"
        id="facility-info-save-btn">&#x2718; Close</a>
    </div>

    
  

</div>