<link rel="stylesheet" href="../css/transaction/genexpert-pullout.css">
<div id="genexpert-pullout-form">

    <div class="genexpert-pullout-info-form"></div>
    <div class="genexpert-pullout-main-form">
        
        <div class="gp-group">
            <div class="gp-item">
                <div class="gp-label">Date of Pull-out:</div>
                <div class="gp-field"><input type="date" id="genexpert-pullout-date-pullout"></div>
            </div>
            <div class="gp-item">
                <div class="gp-label">Remarks:</div>
                <div class="gp-field">
                    <textarea id="genexpert-pullout-remarks"></textarea>
                </div>
            </div>

            <a href="#" class="btn btn-success w-20 input-submit-btn mr-1" 
            onclick="genexpertController.transaction().pullout().onPulloutProcess()">
                <i class="fa fa-save"></i> Save</a>
            <a href="#" class="btn btn-danger w-20 input-submit-btn mr-1"
            onclick="genexpertController.onView().transaction().pullout().hidePulloutform()">Return</a>
        </div>

    </div>

    <div class="search-genexpert-area d-flex pull-left">
        <input type="text" class="mr-2" id="genexpertPullOutSearchField" 
        placeholder="Search...">
        <a href="#" class="btn btn-primary" 
        onclick="genexpertController.transaction().pullout().onSearchforPullOut()">Search</a>
    </div>

    <div class="genexpert-result-area">
        <div class="genexpert-result-table">
            <table>
                <thead>
                    <tr>
                        <th style="width:5%">Info</th>
                        <th style="width:15%">Genexpert SN</th>
                        <th style="width:35%">Facility</th>
                        <th style="width:15%">Date Installed</th>
                        <th style="width:15%">Installation Type</th>
                        <th style="width:15%">Engineer</th>
                        <th style="width:10%">Action</th>
                    </tr>
                </thead>
                <tbody id="genexpert-pullout-tbody-area">
                  

                </tbody>

            </table>

        </div>
       
     

    </div>

</div>