<div id="genexpert-record-content-area">

    <!-- <a href="#" onclick="genexpertController.backToListView()" 
    class="btn btn-danger">Exit</a> -->

    <div class="frame-body-list-area d-flex flex-column" id="genexpert-normal-views">
        <div class="frame-body-list-title-area d-flex" style="width:3300px;">
            <div class="frame-body-list-title-item small" style="width:150px">SERIAL NUMBER</div>
            <div class="frame-body-list-title-item small" style="width:350px">FACILITY/SITE</div>
            <div class="frame-body-list-title-item small" style="width:150px">DATE INSTALLED</div>
            <div class="frame-body-list-title-item small" style="width:200px">INSTALLATION TYPE</div>
            <div class="frame-body-list-title-item small" style="width:250px">ENGINEER</div>
            <div class="frame-body-list-title-item small" style="width:300px">MODEL NUMBER</div>
            <div class="frame-body-list-title-item small" style="width:200px">CONTACT FULLNAME</div>
            <div class="frame-body-list-title-item small" style="width:200px">CONTACT NUMBER</div>
            <div class="frame-body-list-title-item small" style="width:200px">CONTACT EMAIL</div>
            <div class="frame-body-list-title-item small" style="width:300px">COMPLETE ADDRESS</div>
            <div class="frame-body-list-title-item small" style="width:300px">REGION</div>
            <div class="frame-body-list-title-item small" style="width:250px">PROVINCE</div>
            <div class="frame-body-list-title-item small" style="width:250px">CITY</div>
            <div class="frame-body-list-title-item small" style="width:250px">BARANGAY</div>
        </div>

        <div class="frame-body-list-content-area" 
        id="genexpert-body-list-content-area"
        style="width:3450px;"></div>
    

    </div>
</div>