<div class="frame-area" id="home-frame-area">

    <!-- <div class="home-right-side-area">

        <div class="home-trans-eng-title">Engineer Transaction's  for June 2022</div>

    </div> -->

    <div class="home-header-area">
        <div class="home-logo-right"></div>
        <div class="home-logo-title">
            <div class="title-main">Service Engineers</div> 
            <div class="title-main">Managing System 1.0</div>
        </div>
        <div class="home-logo-sayings small d-flex flex-column">
           <!-- <p style="font-style:italic">"We help the hands that heal..."
            <br>"We served to those that serves..."
            <br>"And so we are Macare Engineers..."
            </p> -->
           <div class="home-logo-control d-flex">
            <a href="#" class="btn btn-success" style="margin-right:10px;">Tour on SEMS</a>
            <a href="#" class="btn btn-primary" onclick="openMacareSite()">Visit Macare Site</a>
           </div>
            
        </div>
        <div class="home-slide-image">
                <div class="home-slide-image-screen"></div>
                
        </div>
    </div>
    <div class="home-body-area">
        <div class="home-body-first-panel">
            <div class="home-body-panel-title1 color-lime-green small">TRANSACTIONS</div>
            <!-- <div class="home-body-panel-title2">Monthly Details</div> -->
            <div class="home-body-panel-desc small">Monthly Summary</div>
        <div class="home-body-panel-holder">
            <a href="#" class="btn btn-success">0 Genexperts</a>
            <a href="#" class="btn btn-success">0 Haemonetics</a>
            <a href="#" class="btn btn-success">0 Calibration/s</a>
            <a href="#" class="btn btn-success">0 Maintenance/s</a>
        </div>

        </div>
        <div class="home-body-first-panel">
            <div class="home-body-panel-title1 color-pink-red small">ACCOUNTS</div>
            <!-- <div class="home-body-panel-title2">Weekly Details</div> -->
            <div class="home-body-panel-desc small">Monthly Summary</div>
        <div class="home-body-panel-holder">
            <a href="#" class="btn btn-danger">0 New</a>
            <a href="#" class="btn btn-danger">0 Updates</a>
        </div>

        </div>
        <div class="home-body-first-panel">
            <div class="home-body-panel-title1 color-half-orange small">XPERTCHECK</div>
            <!-- <div class="home-body-panel-title2">Weekly Details</div> -->
            <div class="home-body-panel-desc small">Monthly Summary</div>
        <div class="home-body-panel-holder">
            <a href="#" class="btn btn-warning">0 New Calibration</a>
            <a href="#" class="btn btn-warning">0 Re-calibration</a>
            <a href="#" class="btn btn-warning">0 Updates</a>
        </div>

        </div>
        <div class="home-body-first-panel">
            <div class="home-body-panel-title1 color-water-blue small">MAINTENANCE</div>
            <!-- <div class="home-body-panel-title2">Weekly Details</div> -->
            <div class="home-body-panel-desc small">Monthly Summary</div>
                <div class="home-body-panel-holder">
                    <a href="#" class="btn btn-primary">0 Scheduled</a>
                    <a href="#" class="btn btn-primary">0 Updated</a>
                </div>

        </div>
    </div>
    



</div>