<link rel="stylesheet" href="../css/jotform/info.css">
<div id="jotform-assistance-information-area">

    <a href="#" class="jotform-info-back-btn" 
    onclick="hideSubForm('#jotform-assistance-information-area','top')">
        <i class="fa fa-angle-up"></i>    
    </a>
    <div class="jotform-information-panel">
        <div class="jotform-information-row">
            <div class="jotform-information-col w-20">
                <div class="jotform-information-label">Ticket No.</div>
                <div class="jotform-information-value" 
                id="jotform-info-assistance-ticket-no"></div>
            </div>
            <div class="jotform-information-col w-20">
                <div class="jotform-information-label">Submission Date</div>
                <div class="jotform-information-value" 
                id="jotform-info-assistance-submission-date">June 11, 2022</div>
            </div>
            <div class="jotform-information-col w-60">
                <div class="jotform-information-label">End User</div>
                <div class="jotform-information-value" 
                id="jotform-info-assistance-end-user">Kristine Bernal</div>
            </div>
          
        </div>
        <div class="jotform-information-row">
            <div class="jotform-information-col w-100">
                <div class="jotform-information-label">Account/Hospital</div>
                <div class="jotform-information-value" 
                id="jotform-info-assistance-account-hospital">Cardinal Santos Medical Center</div>
            </div>
        </div>
        <div class="jotform-information-row">
            <div class="jotform-information-col w-100">
                <div class="jotform-information-label">Department</div>
                <div class="jotform-information-value" 
                id="jotform-info-assistance-department">Laboratory</div>
            </div>
        </div>

        <div class="jotform-information-row">
           
            <div class="jotform-information-col w-35">
                <div class="jotform-information-label">Email</div>
                <div class="jotform-information-value" 
                id="jotform-info-assistance-email">kristinebernal02@gmail.com</div>
            </div>
            <div class="jotform-information-col w-25">
                <div class="jotform-information-label">Contact Number</div>
                <div class="jotform-information-value" 
                id="jotform-info-assistance-contact-number">09350864041</div>
            </div>
            <div class="jotform-information-col w-20">
                <div class="jotform-information-label">Date Of Incident</div>
                <div class="jotform-information-value" 
                id="jotform-info-assistance-date-of-incident">June 11, 2022</div>
            </div>
            <div class="jotform-information-col w-20">
                <div class="jotform-information-label">Time of Incident</div>
                <div class="jotform-information-value"
                id="jotform-info-assistance-time-of-incident">12:31 PM</div>
            </div>

        </div>

        <div class="jotform-information-row">

            <div class="jotform-information-col w-25">
                <div class="jotform-information-label">Model Of Genexpert</div>
                <div class="jotform-information-value"
                id="jotform-info-assistance-model-of-genexpert">Gx4</div>
            </div>
            <div class="jotform-information-col w-25">
                <div class="jotform-information-label">Instrument Serial Number</div>
                <div class="jotform-information-value"
                id="jotform-info-assistance-instrument-serial-number">110003714</div>
            </div>
            <div class="jotform-information-col w-50">
                <div class="jotform-information-label">Module Serial Number/s</div>
                <div class="jotform-information-value"
                id="jotform-info-assistance-module-serial-number">710688</div>
            </div>

        </div>

        <div class="jotform-information-row">
           
            <div class="jotform-information-col w-50">
                <div class="jotform-information-label">Kind of Cartridge</div>
                <div class="jotform-information-value"
                id="jotform-info-assistance-kind-of-cartridge">Xpert HIV</div>
            </div>
            <div class="jotform-information-col w-25">
                <div class="jotform-information-label">Quantity of Damage</div>
                <div class="jotform-information-value"
                id="jotform-info-assistance-quantity-of-damage">1</div>
            </div>
            <div class="jotform-information-col w-25">
                <div class="jotform-information-label">Lot No. in the box</div>
                <div class="jotform-information-value"
                id="jotform-info-assistance-lot-no-box">10003758535</div>
            </div>
        </div>

        <div class="jotform-information-row">
            <div class="jotform-information-col w-100">
                <div class="jotform-information-label">Type of Concern</div>
                <div class="jotform-information-value"
                id="jotform-info-assistance-type-of-concern">Hardware</div>
            </div>
        </div>

        <div class="jotform-information-row">
            <div class="jotform-information-col w-100">
                <div class="jotform-information-label">Description of Concern</div>
                <div class="jotform-information-value"
                id="jotform-info-assistance-description-of-concern">Error Check failed</div>
            </div>
        </div>

    </div>

</div>


<div id="jotform-reporting-information-area">

    <a href="#" class="jotform-info-back-btn" 
    onclick="hideSubForm('#jotform-reporting-information-area','top')">
        <i class="fa fa-angle-up"></i>    
    </a>
    <div class="jotform-information-panel">
        <div class="jotform-information-row">
            <div class="jotform-information-col w-15">
                <div class="jotform-information-label">Ticket No.</div>
                <div class="jotform-information-value" 
                id="jotform-info-reporting-ticket-no"></div>
            </div>
            <div class="jotform-information-col w-15">
                <div class="jotform-information-label">Submission Date</div>
                <div class="jotform-information-value" 
                id="jotform-info-reporting-submission-date"></div>
            </div>
            <div class="jotform-information-col w-40">
                <div class="jotform-information-label">Reported By</div>
                <div class="jotform-information-value" 
                id="jotform-info-reporting-reported-by"></div>
            </div>

            <div class="jotform-information-col w-30">
                <div class="jotform-information-label">Reporter Email</div>
                <div class="jotform-information-value" 
                id="jotform-info-reporting-reporter-email"></div>
            </div>
          
        </div>
        <div class="jotform-information-row">
            <div class="jotform-information-col w-100">
                <div class="jotform-information-label">Reporter Contact Number</div>
                <div class="jotform-information-value" 
                id="jotform-info-reporting-reporter-contact-number"></div>
            </div>
            <div class="jotform-information-col w-100">
                <div class="jotform-information-label">Machine Serial Number</div>
                <div class="jotform-information-value" 
                id="jotform-info-reporting-machine-serial-number"></div>
            </div>

            <div class="jotform-information-col w-100">
                <div class="jotform-information-label">Facility Name</div>
                <div class="jotform-information-value" 
                id="jotform-info-reporting-facility-name"></div>
            </div>
        </div>
      

        <div class="jotform-information-row">
           
            <div class="jotform-information-col w-50">
                <div class="jotform-information-label">Model of Genexpert</div>
                <div class="jotform-information-value" 
                id="jotform-info-reporting-model-genexpert"></div>
            </div>
            <div class="jotform-information-col w-25">
                <div class="jotform-information-label">Module All Pass Xpertcheck</div>
                <div class="jotform-information-value" 
                id="jotform-info-reporting-module-pass-xpertcheck"></div>
            </div>

            <div class="jotform-information-col w-25">
                <div class="jotform-information-label">Type of Report</div>
                <div class="jotform-information-value" 
                id="jotform-info-reporting-type-report"></div>
            </div>
          

        </div>

        <div class="jotform-information-row">

            <div class="jotform-information-col w-30">
                <div class="jotform-information-label">Date Of Problem Encountered</div>
                <div class="jotform-information-value"
                id="jotform-info-reporting-date-problem-encountered"></div>
            </div>
            <div class="jotform-information-col w-40">
                <div class="jotform-information-label">Type Of Problem Encountered</div>
                <div class="jotform-information-value"
                id="jotform-info-reporting-type-problem-encountered"></div>
            </div>

            <div class="jotform-information-col w-30">
                <div class="jotform-information-label">Type of Genexpert Accessory</div>
                <div class="jotform-information-value"
                id="jotform-info-reporting-type-genexpert-accessory"></div>
            </div>
           

        </div>

        <div class="jotform-information-row">

           
            <div class="jotform-information-col w-100">
                <div class="jotform-information-label">Concerned Modules</div>
                <div class="jotform-information-value"
                id="jotform-info-reporting-concerned-modules"></div>
            </div>


        </div>

        <div class="jotform-information-row">
           
            <div class="jotform-information-col w-50">
                <div class="jotform-information-label">Genexpert CPU Serial #</div>
                <div class="jotform-information-value"
                id="jotform-info-reporting-genexpert-cpu-sn"></div>
            </div>
            <div class="jotform-information-col w-50">
                <div class="jotform-information-label">Genexpert Laptop Serial #</div>
                <div class="jotform-information-value"
                id="jotform-info-reporting-genexpert-laptop-sn"></div>
            </div>
            
        </div>

        <div class="jotform-information-row">
           
            <div class="jotform-information-col w-50">
                <div class="jotform-information-label">Genexpert Monitor Serial #</div>
                <div class="jotform-information-value"
                id="jotform-info-reporting-genexpert-monitor-sn"></div>
            </div>

            <div class="jotform-information-col w-50">
                <div class="jotform-information-label">Genexpert Barcode Scanner Serial #</div>
                <div class="jotform-information-value"
                id="jotform-info-reporting-genexpert-barcode-scanner-sn"></div>
            </div>
        </div>

       

    </div>

</div>