 <div class="menu-area">

    <div class="menu-title-area d-flex">
        <div class="menu-logo-container">
            <img src="../../../supporters/galleries/macareLogo_solo.png" alt="" class="menu-logo">
        </div>
        <p class="menu-title">MACARE MEDICALS INC.</p>
    </div>
    
    <div class="menu-item-area">

        <a href="#home-frame-area" onclick="changeBackground('home',this)"
        class="menu-item-row menu-item-row-active menu-item-row-home">
            <i class="fa fa-home mr-1 txt-18"></i>
            <span class="txt-11">HOME</span>
        </a>

        <a href="#transaction-main-frame-area"  
        onclick="changeBackground('transaction',this)" 
        class="menu-item-row menu-transaction-btn">
            <i class="fa fa-exchange mr-1 txt-18"></i>
            <span class="txt-11" style="position: relative;">TRANSACTION
                
                <!-- <small><span class="ml-1 badge badge-warning badger-updates">4</span></small> -->
            </span>
        </a>

        <!-- <a href="#transaction-frame-area"  
        onclick="changeBackground('transaction',this)" 
        class="menu-item-row menu-transaction-btn">
            <i class="fa fa-edit mr-1 txt-18"></i>
            <span class="txt-11" style="position: relative;">TRANSACTION ENTRY
                
                
            </span>
        </a> -->

        <!-- <a href="#transaction-list-frame-area"  
        onclick="changeBackground('transaction',this)" 
        class="menu-item-row menu-transaction-btn">
            <i class="fa fa-book mr-1 txt-18"></i>
            <span class="txt-11" style="position: relative;">TRANSACTION RECORD
                
            </span>
        </a> -->

      
        <a href="#genexpert-frame-area" 
        onclick="changeBackground('genexpert',this)" class="menu-item-row">
            <i class="fa fa-cube mr-1 txt-18"></i>
            <span class="txt-11" style="position: relative;">GENEXPERT</span>
            
            
        </a>
        <!-- <a href="#modules-frame-area" 
        onclick="changeBackground('module',this)" class="menu-item-row">
            <i class="fa fa-cubes mr-1 txt-18"></i>
            <span class="txt-11" style="position: relative;" id="indexAssetLabel" 
            add-notification="notification">MODULES
            </span>
            
        </a> -->
        <!-- <a href="#haemonetics-frame-area" onclick="activeMenu(this)" class="menu-item-row">
            <i class="fa fa-cube mr-1 txt-18"></i>
            <span class="txt-11" style="position: relative;" id="indexAssetLabel" 
            add-notification="notification">HAEMONETICS
            </span>
            
        </a> -->
        <a href="#xpertcheck-frame-area"  
        onclick="changeBackground('xpertcheck',this)" class="menu-item-row">
            <i class="fa fa-calendar mr-1 txt-18"></i>
            <span class="txt-11" style="position: relative;">XPERTCHECK</span>
            
        </a>
        <a href="#preventive-maintenance-frame-area" 
        onclick="changeBackground('maintenance',this)" class="menu-item-row">
            <i class="fa fa-balance-scale mr-1 txt-18"></i>
            <span class="txt-11" style="position: relative;">PREV. MAINTENANCE</span>
        </a>

        <a href="#service-report-frame-area" 
        onclick="changeBackground('service-report',this)" class="menu-item-row">
            <i class="fa fa-pencil-square mr-1 txt-18"></i>
            <span class="txt-11">SERVICE REPORT</span>
        </a>

        <a href="#jotform-frame-area" 
        onclick="changeBackground('jotform',this)" class="menu-item-row">
            <i class="fa fa-phone mr-1 txt-18"></i>
            <span class="txt-11" style="position: relative;">JOTFORM</span>
        </a>

        <!-- <a href="#notification-frame-area" 
        onclick="changeBackground('notification',this)" 
        class="menu-item-row"
        id="menu-item-row-notification">
            <i class="fa fa-bell mr-1 txt-18"></i><span class="txt-11">NOTIFICATION</span>
        </a> -->
       
        <a href="#report-frame-area" 
        onclick="changeBackground('report',this)" class="menu-item-row">
            <i class="fa fa-file mr-1 txt-18"></i>
            <span class="txt-11">REPORT</span>
        </a>

        <a href="#dashboard-frame-area" 
        onclick="changeBackground('dashboard',this)" class="menu-item-row">
            <i class="fa fa-dashboard mr-1 txt-18"></i>
            <span class="txt-11">DASHBOARD</span>
        </a>


        <!-- <a href="#ledger-frame-area" 
        onclick="changeBackground('report',this)" class="menu-item-row">
            <i class="fa fa-book mr-1 txt-18"></i>
            <span class="txt-11">BOOK OF LEDGERS</span>
        </a> -->

     

        
        <!-- <a href="#" class="menu-item-row" 
        onclick="activeMenu(this)">
            <i class="fa fa-book mr-1 txt-18"></i>
            <span class="txt-11">HISTORIES</span>
        </a> -->
        <!-- <a href="#" class="menu-item-row" 
        onclick="activeMenu(this)">
            <i class="fa fa-coffee mr-1 txt-18"></i>
            <span class="txt-11">FEEDBACK</span>
        </a>
        <a href="#" class="menu-item-row" 
        onclick="activeMenu(this)">
            <i class="fa fa-dashboard mr-1 txt-18"></i>
            <span class="txt-11">DASHBOARD</span>
        </a> -->
    </div>
    <a href="#" class="btn button-account-info" onclick="showAccountInfo()">Show Account</a>
    <a href="#" class="btn button-account" onclick="showLogOutForm()">Log-Out</a>


</div>