<link rel="stylesheet" href="../css/module-record.css">
<div id="module-records-area">

    <div class="module-content-area">
        <table>
            <thead>
                <tr>
                    <th>Updated Date</th>
                    <th>Location</th>
                    <th>Installation Type</th>
                    <th>Engineer</th>
                    <th>Genexpert SN</th>
                    <th>Facility/Site</th>
                    <th>Status</th>
                    <th>User</th>
                    <th>Part Number</th>
                    <th>Revision Number</th>
                </tr>
            </thead>
            <tbody id="module-record-content-area">
             
            </tbody>
        </table>
    </div>

   

    <a href="#" class="btn btn-primary module-record-exit-button" 
    onclick="hideSubForm('#module-records-area','left')">&#x3C;</a>


</div>