<link rel="stylesheet" href="../css/module.css">
<div id="module-info-area">
    <div class="module-info-form">

        

        <div class="module-entry-group">
            <h3>MODULE ENTRY</h3>
            <div class="module-entry-item">
                <div class="module-entry-label">Serial Number</div>
                <div class="module-entry-field">
                    <input type="text" id="module-info-serial-number">
                </div>
            </div>

            <div class="module-entry-item">
                <div class="module-entry-label">Location</div>
                <div class="module-entry-field">
                    <input type="text" id="module-info-location">
                </div>
            </div>

            <div class="module-entry-item">
                <div class="module-entry-label">Date Installed</div>
                <div class="module-entry-field">
                    <input type="date" id="module-info-date-installed">
                </div>
            </div>

            <div class="module-entry-item">
                <div class="module-entry-label">Installed By</div>
                <div class="module-entry-field">
                    <select id="module-info-engineer" class="engineer-drop-down"></select>
                </div>
            </div>

            <div class="module-entry-item">
                <div class="module-entry-label">Installation Type</div>
                <div class="module-entry-field">
                    <select id="module-info-installation-type" 
                    class="installation-type-drop-down"></select>
                </div>
            </div>

            <div class="module-entry-item">
                <div class="module-entry-label">Part Number</div>
                <div class="module-entry-field">
                    <input type="text" id="module-info-part-number">
                </div>
            </div>

            <div class="module-entry-item">
                <div class="module-entry-label">Revision Number</div>
                <div class="module-entry-field">
                    <input type="text" id="module-info-revision-number">
                </div>
            </div>

            <div class="d-flex w-100">
                <a href="#" class="btn btn-danger w-100 mr-1" 
                id="module-info-close-btn">EXIT</a>
                <a href="#" class="btn btn-primary w-100" 
                id="module-info-submit-btn">SAVE</a>
                
            </div>
            

        </div>

    </div>

</div>