<link rel="stylesheet" href="../css/preventive-maintenance/info.css">
<div class="frame-area" id="preventive-maintenance-frame-area">

    <div class="pm-main-area d-flex flex-column">


        <div class="pm-control-area d-flex">

            <ul class="d-flex">
        
                <li>
                    <a href="#" class="pm-control-item" onclick="preventiveMaintenanceController
                    .onFilterView(this)">
                <i class="fa fa-filter"></i> Show Filter</a>
                </li>
                <!-- <li>
                    <a href="#" class="pm-control-item" 
                    onclick="preventiveMaintenanceController.onView().userInterfacingOn()
                    .openPMScheduleFromList(this)">
                        <i class="fa fa-plus"></i> Create New</a>
                </li> -->
                <li>
                    <a href="#" class="pm-control-item"><i class="fa fa-file"></i> Generate Reports</a>
                    <ul>
                        <li><a href="#">Generate Excel</a></li>
                        <li><a href="#">Upload From Generate Excel</a></li>
                        <li><a href="#" onclick="preventiveMaintenanceController.reports().uploadDataFromExcel()">Upload Equipment Preventive Maintenance Schedule</a></li>
                        <li><a href="#">Upload Vismin Monitoring Sheet</a></li>
                    </ul>
                </li>
            </ul>

             <div class="pagination-box d-flex" id="pm-index-pagination">
                <!-- <div class="pagination-label small">0-0 of 0</div> -->
                <div class="pagination-paging-control d-flex">
                    <div class="pagination-previous">
                        <a href="#" onclick="preventiveMaintenanceController.onPagination().onPage('Prev')">
                            <i class="fa fa-chevron-left"></i></a>
                    </div>
                    <div class="pagination-label small">0-0 of 0</div>
                    <div class="pagination-select hide-pagination">
                        <input type="number" value='1' onkeyup="paginationControl().onKeyUp(event)">
                    </div>
                    <div class="pagination-next">
                        <a href="#" onclick="preventiveMaintenanceController.onPagination().onPage('Next')">
                            <i class="fa fa-chevron-right"></i></a>
                    </div>
                        
                </div>
            </div>    
        </div>
        <div class="pm-body-area">

            <div class="pm-filter-area"></div>
            <div class="pm-content-list-area d-flex">
                <div class="pm-body-list-area">
                    <div class="pm-list-area d-flex flex-column">
                    
                        <div class="pm-list-header-area d-flex">

                            <!-- <div class="xpertcheck-list-title-item small" style="width:9%">
                                RE-PERFORM</div> -->

                            <div class="pm-list-title-item small" style="width:10%" 
                            add-sorter="sorter" 
                            sorter-type="alphanumeric" 
                            sorter-source=".pm-body-list-content-area" 
                            sorter-field="a_genexpertSN"
                            sorter-table="pm">
                                GENEX. SN 
                            </div>

                            <div class="pm-list-title-item small" style="width:35%" 
                            add-sorter="sorter" 
                            sorter-type="alphanumeric" 
                            sorter-source=".pm-body-list-content-area" 
                            sorter-field="h_siteName"
                            sorter-table="pm">
                                FACILITY/SITE
                                </div>
                            <div class="pm-list-title-item small" style="width:10%" 
                            add-sorter="sorter" 
                            sorter-type="alphanumeric" 
                            sorter-source=".pm-body-list-content-area" 
                            sorter-field="a_calibrate_start"
                            sorter-table="pm">
                                CURRENT
                                </div>
                            <div class="pm-list-title-item small" style="width:10%" 
                            add-sorter="sorter" 
                            sorter-type="alphanumeric" 
                            sorter-source=".pm-body-list-content-area" 
                            sorter-field="a_calibrate_done"
                            sorter-table="pm">
                                DUE
                                </div>
                            <div class="pm-list-title-item small" style="width:15%" 
                            add-sorter="sorter" 
                            sorter-type="date-calculate" 
                            sorter-source=".pm-body-list-content-area" 
                            sorter-field="a_calibrate_done"
                            sorter-table="pm">
                                STATUS
                                </div>
                            <div class="pm-list-title-item small" style="width:20%" 
                            add-sorter="sorter" 
                            sorter-type="alphanumeric" 
                            sorter-source=".pm-body-list-content-area" 
                            sorter-field="i_fullname"
                            sorter-table="pm">
                                CALIBRATE BY
                                </div>
                        </div>
                        <div class="pm-body-list-content-area">
                           
                           
                        </div>
            
                    </div>
    
                </div>
    
    
               
                <div class="pm-entry-area">
    
    
                </div>
            </div>
           
        </div>
    
    </div>



</div>