<!-- <link rel="stylesheet" href="../css/service-report/entry.css">
<div id="service-report-entry-area">



    <div class="service-report-entry-form">

        <div class="service-report-entry-title">SERVICE REPORT</div>

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Customer</div>
                <div class="service-report-entry-value" 
                id="jotform-info-ticket-no">
                <input type="text" class="service-report-entry-field-third">
                </div>
            </div>
        </div>

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Address</div>
                <div class="service-report-entry-value" 
                id="jotform-info-ticket-no">
                <input type="text" class="service-report-entry-field-third" disabled>
                </div>
            </div>

        </div>

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Type Of Service</div>
                <div class="service-report-entry-value d-flex">
                    <div class="service-report-entry-box-col 
                    d-flex mr-1 w-25">
                        <input type="checkbox" class="mr-2"> Installation
                    </div>

                    <div class="service-report-entry-box-col d-flex mr-1 w-25">
                        <input type="checkbox" class="mr-2"> Repair
                    </div>

                    <div class="service-report-entry-box-col d-flex mr-1 w-25">
                        <input type="checkbox" class="mr-2"> Maintenance
                    </div>

                    
                    <div class="service-report-entry-box-col d-flex mr-1 w-25">
                        <input type="checkbox" class="mr-2"> Others
                    </div>
                    
                </div>
            </div>

        </div>




        <!-- <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Type Of Service</div>
                <div class="d-flex">
                   <a href="#" class="service-report-entry-value w-20 mr-1">Installation</a>
                   <a href="#" class="service-report-entry-value w-20 mr-1">Repair</a>
                   <a href="#" class="service-report-entry-value w-20 mr-1">Maintenance</a>
                   <a href="#" class="service-report-entry-value w-20 mr-1">Xpertcheck</a>
                   <a href="#" class="service-report-entry-value w-20">Others</a>
                </div>
            </div>
        </div>        
        <div class="service-report-entry-content">

            <div id="service-report-entry-content-installation">

                

            </div>
            <div class="service-report-entry-content-repair"></div>
            <div class="service-report-entry-content-maintenance"></div>

        </div> -->

        <!-- <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Type Of Service</div>
                <div class="d-flex">
                   <a href="#" class="service-report-entry-value w-15 mr-1">Installation</a>
                   <a href="#" class="service-report-entry-value w-15 mr-1">Repair</a>
                   <a href="#" class="service-report-entry-value w-15 mr-1">Maintenance</a>
                   <a href="#" class="service-report-entry-value w-20 mr-1">Module Replacement</a>
                   <a href="#" class="service-report-entry-value w-15 mr-1">Xpertcheck</a>
                   <a href="#" class="service-report-entry-value w-20">Others</a>
                </div>
            </div>
        </div>   

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Customer</div>
                <div class="service-report-entry-value" 
                id="jotform-info-ticket-no">
                <input type="text" class="service-report-entry-field-third">
            </div>
            </div>
        </div>

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Address</div>
                <div class="service-report-entry-value" 
                id="jotform-info-ticket-no">
                    <textarea class="service-report-entry-field-second"></textarea>
                </div>
            </div>
        </div>

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Tel No.</div>
                <div class="service-report-entry-value" 
                id="jotform-info-ticket-no">
                    <input type="text" class="service-report-entry-field-third">
                </div>
            </div>

            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Department</div>
                <div class="service-report-entry-value" 
                id="jotform-info-ticket-no">
                    <input type="text" class="service-report-entry-field-third">
                </div>
            </div>
        </div>

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-20">
                <div class="service-report-entry-label">Equipment</div>
                <div class="service-report-entry-value" 
                id="jotform-info-ticket-no">
                    <input type="text" class="service-report-entry-field-third">
                </div>
            </div>

            <div class="service-report-entry-col w-65">
                <div class="service-report-entry-label">Model</div>
                <div class="service-report-entry-value" 
                id="jotform-info-ticket-no">
                    <input type="text" class="service-report-entry-field">
                </div>
            </div>

            <div class="service-report-entry-col w-15">
                <div class="service-report-entry-label">Serial No.</div>
                <div class="service-report-entry-value" 
                id="jotform-info-ticket-no">
                    <input type="text" class="service-report-entry-field-third">
                </div>
            </div>
        </div>

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Problems Reported</div>
                <div class="service-report-entry-value mh-150">
                    <textarea class="service-report-entry-field"></textarea>
                </div>
            </div>
        </div>   

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Diagnostic/Findings</div>
                <div class="service-report-entry-value mh-150">
                    <textarea class="service-report-entry-field"></textarea>
                </div>
            </div>
        </div>   

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Corrective Action/Service Done</div>
                <div class="service-report-entry-value mh-150">
                    <textarea class="service-report-entry-field"></textarea>
                </div>
            </div>
        </div>   

        <div class="service-report-entry-row">
            <div class="service-report-entry-col w-100">
                <div class="service-report-entry-label">Comment(s)/Recommendation(s)</div>
                <div class="service-report-entry-value mh-100">
                    <textarea class="service-report-entry-field-second"></textarea></div>
            </div>
        </div>   -->






<!-- </div> -->

<!-- <script>
    $("#service-report-entry-content-installation").load('./genexpert-installation.html');
</script> -->
