<link rel="stylesheet" href="../css//transaction-info.css">
<div id="transaction-information-area">

    <a href="#" class="transaction-close-button btn" onclick="hideTransactionInformation()">
        <i class="fa fa-caret-left"></i></a>

    <div class="transaction-information-panel">

        <div class="transaction-information-row">
            <div class="transaction-information-item w-100">
                <div class="transaction-information-label w-10 mr-2">Facility:</div>
                <div class="transaction-information-value w-90">
                    <input type="text" class="trans-underline-field w-100" 
                    id="transaction-information-facility-field">
                </div>

            </div>
        </div>

        <div class="transaction-information-row">

            <div class="transaction-information-item w-10 mr-2">
                <div class="transaction-information-label w-100">Department:</div>
            </div>

            <div class="transaction-information-item w-55">
                <div class="transaction-information-value w-100">
                    <input type="text" class="trans-underline-field w-100" 
                    id="transaction-information-department-field">
                </div>

            </div>

            <div class="transaction-information-item w-5">
                <div class="transaction-information-label w-100">Tel No:</div>
            </div>
            <div class="transaction-information-item w-30">
                <div class="transaction-information-value w-100">
                    <input type="text" class="trans-underline-field w-100" 
                    id="transaction-information-telno-field">
                </div>

            </div>

           
        </div>

        <div class="transaction-information-row">
            <div class="transaction-information-item w-100">
                <div class="transaction-information-label w-10 mr-2">Address:</div>
                <div class="transaction-information-value w-90">
                    <input type="text" class="trans-underline-field w-100" 
                    id="transaction-information-address-field">
                </div>
            </div>
            

           
        </div>

        <div class="transaction-information-row">
            <div class="transaction-information-item w-100">
                <div class="transaction-information-label w-10 mr-2">Contact:</div>
                <div class="transaction-information-value w-90">
                    <input type="text" class="trans-underline-field w-100" 
                    id="transaction-information-contact-info-field">
                </div>
            </div>
            

           
        </div>


    </div>

    <div class="transaction-information-panel">

        <div class="transaction-information-row">

            <div class="transaction-information-item w-10 mr-2">
                <div class="transaction-information-label w-100">Equipment:</div>
            </div>

            <div class="transaction-information-item w-40">
                <div class="transaction-information-value w-100">
                    <input type="text" class="trans-underline-field w-100" 
                    id="transaction-information-equipment-field">
                </div>

            </div>


            <div class="transaction-information-item w-6 mr-2">
                <div class="transaction-information-label w-100">Serial #:</div>
            </div>


            <div class="transaction-information-item w-44">
                <div class="transaction-information-value w-100">
                    <input type="text" 
                    class="trans-underline-field w-100" 
                    id="transaction-information-serial-number-field">
                </div>

            </div>
        </div>

        <div class="transaction-information-row">

            <div class="transaction-information-item w-100">
                <div class="transaction-information-label w-10 mr-2">Model:</div>
                <select class="trans-underline-field w-90 model-number-drop-down" 
                id="transaction-information-model-number-field"></select>
            </div>

        </div>

        <div class="transaction-information-row">

            <div class="transaction-information-item w-100">
                <div class="transaction-information-label w-10 mr-2">Services:</div>
                <a href="#" class="btn btn-secondary w-5 mr-1"><i class="fa fa-plus"></i></a>
                <div class="service-list w-85">
                        <a href="#" class="text-light mr-1">Installation</a>
                        <a href="#" class="text-light mr-1">Repair</a>
                        <a href="#" class="text-light mr-1">Transfer</a>
                        <a href="#" class="text-light mr-1">Pull-out</a>
                        <a href="#" class="text-light mr-1">Module</a>
                        <a href="#" class="text-light mr-1">Xpertcheck</a>
                        <a href="#" class="text-light mr-1">Maintenance</a>
                        <a href="#" class="text-light mr-1">Others</a>
                </div>
                
            </div>

        </div>

    </div>




</div>