<link rel="stylesheet" href="../css/change-password.css">
<div id="user-change-password-area">


    <div class="user-change-password-form">
        <label for="" class="text-white small" 
        style="text-transform: uppercase;">Input Registered Email:</label>
        <input type="text" class="w-100 email-change-password" id="text-email-for-change-password">
        <div class="d-flex mt-2">
            <a href="#" class="btn btn-danger w-100" onclick=
            "hideSubForm('#user-change-password-area','top')">Exit</a>
            <a href="#" class="btn btn-primary w-100 ml-2" 
            onclick="accountController.forgotPassword().sendEmailProcess()">Send</a>
        </div>
    </div>


</div>