<link rel="stylesheet" href="../css/retrieve-password.css">
<div id="user-retrieve-password-area">

    <div class="user-retrieve-password-form">

        <div class="form-group">
            <label for="" class="text-white small" 
            style="text-transform: uppercase;">Email:</label>
            <input type="text" class="w-100 text-field" id="email-for-retrieve-password">
        </div>

        <div class="form-group">
            <label for="" class="text-white small" 
            style="text-transform: uppercase;">Code From Email:</label>
            <input type="text" class="w-100 text-field" id="code-for-retrieve-password">
        </div>

        <div class="form-group">
            <label for="" class="text-white small" 
            style="text-transform: uppercase;">New Password:</label>
            <input type="password" class="w-100 text-field" id="new-password-for-retrieve-password">
        </div>

        <div class="form-group">
            <label for="" class="text-white small" 
            style="text-transform: uppercase;">Retype-Password:</label>
            <input type="password" class="w-100 text-field" id="retype-password-for-retrieve-password">
        </div>

        <d class="d-flex">
            <a href="#" class="btn btn-light w-100 mr-2" 
            onclick="hideSubForm('#user-retrieve-password-area','top')">Exit</a>
            <a href="#" class="btn btn-dark w-100" onclick="accountController.retrieveAccount()">Save</a>
            
        </d>

    </div>

</div>